/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e7edf2,
    100 : #c3d1df,
    200 : #9bb3ca,
    300 : #7395b5,
    400 : #557ea5,
    500 : #376795,
    600 : #315f8d,
    700 : #2a5482,
    800 : #234a78,
    900 : #163967,
    A100 : #a0c5ff,
    A200 : #6da7ff,
    A400 : #3a88ff,
    A700 : #2078ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #f2f8e4,
    100 : #dfecbc,
    200 : #cae08f,
    300 : #b5d462,
    400 : #a5ca41,
    500 : #95c11f,
    600 : #8dbb1b,
    700 : #82b317,
    800 : #78ab12,
    900 : #679e0a,
    A100 : #eaffcb,
    A200 : #d5ff98,
    A400 : #c0ff65,
    A700 : #b5ff4c,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #fefefe,
    100 : #fcfcfc,
    200 : #fafafa,
    300 : #f8f8f8,
    400 : #f7f7f7,
    500 : #f5f5f5,
    600 : #f4f4f4,
    700 : #f2f2f2,
    800 : #f0f0f0,
    900 : #eeeeee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);